@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
   
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    background-image: url(../imagens/frame-iphone.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

iframe#tela {
    position: relative;
    top: 79px;
    left: 22px;
    width: 86%;
    height: 76%;
}

section#redes-sociais {
    display: flex;
    align-items: end;
    flex-direction: column;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.514);
}

section#redes-sociais img:hover {
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.658);
    transform: translate(3px, 3px);
    transition: 0.3s;
}

